<% if @user == current_user %>
  <% my_events = true %>
  <h1>My Events</h1>
<% else %>
  <h1><%= @user.username.capitalize %>'s Events</h1>
<% end %>
<h2>Upcoming Events:</h2>
<ul>
  <% if @user.attended_events.upcoming.empty?%>
    <li>None Yet</li>
  <% else %>
    <%= @user.attended_events.upcoming.find_each do |event| %>
      <li>
      <%= link_to event.name, event %> <strong><%= ' - Private ' if event.private %></strong>- <%= event.date %>
      <% if my_events && @user != event.creator %>
        <%= button_to 'Unattend Event', attendance_path, method: :delete, params: { attendance: { attended_event_id: event.id, attendee_id: current_user.id } } %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<h2>Attended Events:</h2>
<ul>
  <% if @user.attended_events.occurred.empty? %>
    <li>None Yet</li>
  <% else %>
    <%= @user.attended_events.occurred.find_each do |event| %>
      <li><%= link_to event.name, event %> <strong><%= ' - Private ' if event.private %></strong>- <%= event.date %></li>
    <% end %>
  <% end %>
</ul>
<h2>Created Events:</h2>
<ul>
    <% if @user.created_events.empty? %>
    <li>None Yet</li>
  <% else %>
    <%= @user.created_events.find_each do |event| %>
      <li><%= link_to event.name, event %> <strong><%= ' - Private ' if event.private %></strong>- <%= event.date %></li>
    <% end %>
  <% end %>
</ul>