<h1><%= @user.username %>'s Events</h1>
<h2>Attending Events:</h2>
<ul>
  <%= @user.attended_events.upcoming.find_each do |event| %>
    <li><%= link_to event.name, event %> - <%= event.date %></li>
  <% end %>
</ul>
<h2>Attended Events:</h2>
<ul>
  <%= @user.attended_events.occurred.find_each do |event| %>
    <li><%= link_to event.name, event %> - <%= event.date %></li>
  <% end %>
</ul>
<h2>Created Events:</h2>
<ul>
  <%= @user.created_events.find_each do |event| %>
    <li><%= link_to event.name, event %> - <%= event.date %></li>
  <% end %>
</ul>