<% if @event.errors.any? %>
  <div class="error_explain">
    <h2><%= pluralize(@event.errors.count, 'error') %> prohibitted this event from saving.</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>Event Details</h1>
<%= form_with model: @event do |f| %>
  <%= f.label 'Name:' %>
  <%= f.text_field :name %> <br><br>
  <%= f.label 'Time:' %>
  <%= f.datetime_field :date %> UTC <br><br>
  <%= f.label 'Place:' %>
  <%= f.text_field :place %> <br><br>
  <%= f.radio_button :private, true %>
  <%= f.label :private_true, 'Private'%>
  <%= f.radio_button :private, false %>
  <%= f.label :private_false, 'Public' %> <br><br>
  <%= f.submit %>
<% end %>
