<% if user_signed_in? %>
  <% if @event.private == false || current_user == @event.creator || current_user.in?(@event.attendees) %>
    <%= render  @event %>
    <% if current_user.in?(@event.attendees) %>
      <div class="attend-event"><%= button_to 'Unattend Event', attendance_path, method: :delete, params: { attendance: { attended_event_id: @event.id, attendee_id: current_user.id } } %></div>
    <% else %>
      <div class="attend-event"><%= button_to 'Attend Event', attendances_path, params: { attendance: { attended_event_id: @event.id, attendee_id: current_user.id } } %></div>
    <% end %>
    <% if current_user == @event.creator %>
      <div class="edit"><%= link_to 'Edit Event', edit_event_path(@event) %></div>
      <div class="delete"><%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %></div>
      <%= render partial: 'invitations', locals: { users: @users, event: @event } %>
    <% end %>
    <%= render partial: 'guest_list', locals: { event: @event } %>
  <% else %>
    <p>This is a private event ask the host to invite you to see detailS.</p>
  <% end %>
<% elsif @event.private == false %>
  <%= render @event %>
  <%= render partial: 'guest_list', locals: { event: @event } %>
<% else %>
  <p>This is a private event or does not exist.</p>
<% end %>

