<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="header">
      <div class="header-button"><%= link_to 'Home', root_path %></div>
      <% if user_signed_in? %>
        <div class="header-button"><%= link_to 'My Events', current_user %></div>
        <div class="header-button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
      <% else %>
        <div class="header-button"><%= link_to 'Sign In', new_user_session_path %></div>
        <div class="header-button"><%= link_to 'Sign Up', new_user_registration_path %></div>
      <% end %>
      <%= link_to 'Create new Event', new_event_path %> 
    </div>
    <%= yield %>
  </body>
</html>
